.xng-breadcrumb-root {
  color: #cccccc;
  text-decoration: none;
}

.xng-breadcrumb-item {
  @include sm {
    font-size: 14px;
  }
}

.xng-breadcrumb-separator {
  color: #cccccc;
  margin: 0 4px !important;
  padding: 0 1px;
}

.xng-breadcrumb-link {
  outline: none;
  text-decoration: none !important;

}

.xng-breadcrumb-trail {
  color: #3A80BA !important;
}
