@import "normalize";
@import "loader";
@import "pagination";
@import "mixins";
@import "helpers";


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.content {
  min-height: 100%;
  padding-bottom: 100px;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  box-sizing: border-box;
  @include lg {
    padding: 0 10px;
  }
  @include md {
    padding: 0 10px;
  }
}

.xng-breadcrumb-root {
  color: #cccccc;
  text-decoration: none;
}

.xng-breadcrumb-separator {
  color: #cccccc;
  margin: 0 4px !important;
  padding: 0 1px;
}

.xng-breadcrumb-link {
  outline: none;
  text-decoration: none !important;
}

.xng-breadcrumb-trail {
  color: #3A80BA !important;
}


