@import "src/styles/styles";

.users {
  &__breadcrumb {
    margin-bottom: 24px;
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    color: #1A1A1A;
    margin-bottom: 24px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }

  &__range {
    display: flex;
    justify-content: center;
  }

  &__loader {
    padding-top: 150px;
  }
}

.table_wrap {
  min-height: 393px;
}

.table {
  margin-bottom: 25px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border-collapse: collapse;
  @include md {
    border: 0;

    & thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    & tr {
      display: block;
      margin-bottom: .625em;
      padding: 10px;
      border-radius: 10px;
    }

    & td {
      display: block;
      font-size: .8em;
      text-align: right;
    }

    & td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    & td:last-child {
      border-bottom: 0;
    }
  }


  &__row {
    cursor: pointer;

    &:nth-child(odd) {
      background: #F1F1F1;

      &:hover {
        background: #e8e8e8;
      }
    }

    &:nth-child(even) {
      background: #FBFBFB;

      &:hover {
        background: #e8e8e8;
      }
    }

    &:last-child {

      .table__data:first-child {
        border-radius: 0 0 0 10px;
      }

      .table__data:last-child {
        border-radius: 0 0 10px 0;
      }
    }

    &--heading {
      background: #3A80BA;
    }
  }

  &__head {
    padding: 15px 25px;
    color: #fff;
    font-weight: normal;
    border-right: 1px solid #fff;

    &:first-child {
      border-radius: 10px 0 0 0;
    }

    &:last-child {
      border-radius: 0 10px 0 0;
      border-right: none;
    }
  }

  &__data {
    padding: 6px 0;
    font-size: 16px;
    line-height: 20px;
    color: #1A1A1A;
  }
}
